<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body>
        <h1>Emparejamiento de datasets con técnicas semánticas</h1>
        <h2>Marcos Fernández Sellers</h2>
        <div>
            <h3>Datos de entrada</h3>
            <form action="" method="post">
                {{ form.csrf }}

                <div class="input text">
                    {{ form.portal1.label }} {{ form.portal1 }}
                </div>
                <div class="input select">
                    {{ form.type1.label }} {{ form.type1 }}
                </div>
                <div class="input text">
                    {{ form.portal2.label }} {{ form.portal2 }}
                </div>
                <div class="input select">
                    {{ form.type2.label }} {{ form.type2 }}
                </div>

                <div class="input submit">
                    <input type="submit" value="Ejecutar" onclick="showInfo();"/>
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div id="info" style="display: none">
            <p>Su petición se está procesando. Esto puede tardar varios minutos</p>
            <div id="loader"></div>
        </div>
    </body>
</html>